:host {
    display: grid;
    gap: 48px;
    grid-template-columns: 322px 1fr;
    padding: 24px;
}

.profile-form__wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        border: 1px solid var(--ligh-color);
    background: var(--dark-color);
    padding: 32px;
    height: calc(100dvh - (24px * 4));  
}


.profile-form {
    grid-gap: 20px;
    display: grid;
}


.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.profile-label {

}


.profile-input {
    
}