:host {
    display: grid ;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;                     //?
    align-items: center;
    margin: 0 5%;                       //?
    
}

.password-input {
    position: relative;
}

.password-eye-btn {
    background: none;
    border: none;
    color: #FFFFFFBF;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}


.password-eye-btn.active {
    color: var(--primary-color)
}